# Archivos temporales
*.log
*.tmp


# Archivos de compilación
*.class
*.exe

# Configuración del IDE
/.idea/
/nbproject/
*.iml
# Archivos de copia de seguridad
*~
*.bak

# Archivos ocultos de macOS o Linux
.DS_Store
Thumbs.db
/privado/
!/privado/leeme.txt
